.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}


/* body {
    background-image: url(../images/bg-body.png);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 110%;
    background-position-y: 70%;
    background-size: 40%;
    back
} */

.sitelogo {
    color: #fff;
}

.navbar {
    background-image: linear-gradient(to right, #ec008c, #fc6767);
}

.nav-link {
    color: #fff;
}

div.container:nth-child(2) {
    margin-top: 70px;
}

.card-img-top {
    border-radius: 20px;
}

.row {
    margin-bottom: 70px;
}

.footer-basic {
    background-image: linear-gradient(to right, #ec008c, #fc6767);
    color: #ffffff;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 0 8px;
    color: #ffffff;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    border: 1px solid #3b5998;
    color: #3b5998;
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.footer {
    padding-left: 0px;
    padding-right: 0px;
}